04 CLICON/04. CLICON/Connected Services/ConversionServiceReference/ConversionService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="usuario" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LoginResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAPie">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="MetroAPieResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="MetroAPieResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometroAMilla">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilometroAMillaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilometroAMillaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetroAPulgada">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CentimetroAPulgadaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CentimetroAPulgadaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadaACentimetro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PulgadaACentimetroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PulgadaACentimetroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PieAMetro">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PieAMetroResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="PieAMetroResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoALibra">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="KilogramoALibraResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="KilogramoALibraResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoAOnza">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GramoAOnzaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GramoAOnzaResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToneladaAKilogramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ToneladaAKilogramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="ToneladaAKilogramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraAKilogramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="LibraAKilogramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="LibraAKilogramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnzaAGramo">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="OnzaAGramoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="OnzaAGramoResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheit">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAFahrenheitResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAFahrenheitResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvin">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAKelvinResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAKelvinResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusARankine">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusARankineResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusARankineResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAReaumur">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CelsiusAReaumurResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="CelsiusAReaumurResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsius">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="valor" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FahrenheitACelsiusResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="FahrenheitACelsiusResult" type="xs:double" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>